<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LanguageSwitcher.Settings.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LanguageSwitcher.Settings.MySettings>
            <setting name="Language_Toggle" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LanguageIndex1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LanguageIndex2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IsStartupEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </LanguageSwitcher.Settings.MySettings>
    </userSettings>
</configuration>